<div class="board-shape-options-container">
  <form [formGroup]="boardShapeForm">
    <h2>Select Board Shape</h2>
     <div class="radio-options">
          @for (option of shapeOptions(); track option.value) {
               <app-neu-radio formControlName="shape" [value]="option.value" [label]="option.label"></app-neu-radio>
          }
     </div>

    @if (boardShapeForm.get('shape')?.value === 'Rectangle') {
          <div class="orientation-options">
               <h3>Select Orientation</h3>
               <div class="radio-options">
                    @for (option of orientationOptions(); track option.value) {
                         <app-neu-radio formControlName="orientation" [value]="option.value" [label]="option.label"></app-neu-radio>
                    }
               </div>
          </div>
     }
 </form>
</div>

