/* You can add global styles to this file, and also import other style files */
body {
    background: #F0F0F3;
    color: #123753;
}

.text-light {
  color: grey;
}

.neu-step {
      /* Nue/white/1 */
      background: #F0F0F3;
      box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      line-height: 30px;
  
}

.neu-step p {
  margin-top: 0;
}

.neu-button {
    /* Nue/white/1 */
    background: #F0F0F3;
    box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4);
    border-radius: 24px;

    border: none;
    color: #123753; /* Text color */
    font-size: 16px;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  /* Hover effect for more depth */
  .neu-button:hover {
    box-shadow: 6px 6px 12px #cfd1d4, 
                -6px -6px 12px #ffffff;
  }
  
  /* Pressed state (inset shadows) */
  .neu-button:active {
    box-shadow: inset 6px 6px 12px #cfd1d4, 
                inset -6px -6px 12px #ffffff;
  }
  
  
 