<app-wizard (nextClick)="nextStep()" (previousClick)="previousStep()">
    <div options>    
        <div class="step-progress">
            @for (step of steps; track $index) {
                <div class="step" [class.active]="currentStepIndex() === $index">
                    <p>{{ step }}</p>
                    <div class="neu-step">{{ $index + 1 }}</div>
                </div>
            }
        </div>

        @if (currentStepIndex() === 0) {
            <app-stand-options (standSelected)="handleStandSelection($event)"></app-stand-options>
        }
        @else if (currentStepIndex() === 1) {
            <app-board-shape-options></app-board-shape-options>
        }
        @else if (currentStepIndex() === 2) {
            <app-acrylic-options></app-acrylic-options>
        }
        @else {
            <div>Step {{ currentStep() }} placeholder options</div>
        }
    </div>
</app-wizard>